
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #b91889;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}

.about-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  text-align: center;
  width: 350px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  margin-bottom: 20px;
}

.about-container h1 {
  margin: 0 0 10px;
}

.about-container p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.links a {
  display: block;
  color: #0066cc;
  text-decoration: none;
  margin-bottom: 8px;
}

.links a:hover {
  text-decoration: underline;
}
p{
  font-weight: 800;
}